[Unit]
Description=OSSEC remoted
PartOf=ossec-server.target

[Service]
Type=forking
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec
Restart=always
RestartSec=60

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/ossec-remoted -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-remoted -f
