[Unit]
Description=OSSEC HIDS server
After=network.target 
Wants=ossec-csyslog.service
Requires=ossec-analysisd.service
Requires=ossec-remoted.service
Requires=ossec-monitord.service

[Install]
WantedBy=multi-user.target
